.header {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 80px;
  }

  .header h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción */
    margin-right: 15px; /* Espacio entre el logo y el título */
}