.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    width: 50%;
}

.product-card{
    background-color: #f4dfff; 
    padding: 1rem; 
    border-radius: 10px;
    text-align: center; 
    width: 300px; 
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
}

.product-imagen{
    width: 120px;
}

.button-search {
    background-color: #70017a;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }
